#Theory Questions

#####Question1. what are data structures and why they are important?

Data structures are ways to store and organize data for efficient access and modification. In Python, they include lists, tuples, sets, and dictionaries. They are important because they help manage large data efficiently, support various algorithms, and improve code performance, readability, and problem-solving capabilities in programming.

##### Question2.Explain the difference between mutable and immutable data types with examples

Mutable data types can be changed after creation, like lists and dictionaries. Immutable data types cannot be altered once created, such as strings, integers, and tuples. For example, a list’s elements can be updated

##### Question3. What are the main differences between lists and tuples in *Python3*

Lists are mutable, meaning their elements can be changed, added, or removed, while tuples are immutable and cannot be modified after creation. Lists use square brackets [], and tuples use parentheses (). Lists are slower but flexible; tuples are faster and used when fixed data is needed.

##### Question4  Describe how dictionaries store dataP

Dictionaries store data as key-value pairs in an unordered, mutable collection. Each key is unique and maps to a specific value. Python uses a hash table internally, allowing fast access, insertion, and deletion. Data is accessed using keys, like dict['key'], making dictionaries ideal for structured, lookup-based data.

##### Question5. Why might you use a set instead of a list in Python3

You might use a set instead of a list in Python when you need to store unique items and perform fast membership tests. Sets automatically remove duplicates and offer faster lookup, union, and intersection operations than lists, making them ideal for tasks like filtering unique values or comparing collections.

####Question6. What is a string in Python, and how is it different from a list3

A string in Python is a sequence of characters enclosed in quotes ('hello' or "hello"). It is immutable, meaning it cannot be changed after creation. A list, on the other hand, is a mutable collection of elements, which can include strings, numbers, or other data types, and can be modified.

####Question7 How do tuples ensure data integrity in Python3

Tuples ensure data integrity in Python by being immutable, meaning their values cannot be changed after creation. This prevents accidental modifications, making them ideal for storing fixed collections of data. Their immutability helps maintain consistency, especially when used as keys in dictionaries or elements in sets.

####Question8 What is a hash table, and how does it relate to dictionaries in Python

A hash table stores data using a key-to-index mapping via a hash function. In Python, dictionaries use hash tables to allow quick access, insertion, and deletion of values by keys, making lookups faster than linear structures like lists.

####Question9 Can lists contain different data types in Python

Yes, Python lists can contain different data types. A single list can store integers, strings, floats, booleans, other lists, and even objects. This flexibility makes lists highly versatile for storing heterogeneous collections of items.

####Explain why strings are immutable in Python

Strings are immutable in Python to ensure safety, efficiency, and hashability. Once created, they cannot be changed, which helps avoid bugs and allows strings to be used as keys in dictionaries or stored in sets without unexpected behavior.

####question11 What advantages do dictionaries offer over lists for certain tasks

Dictionaries offer key-based data access, enabling faster lookups compared to lists that require index-based or linear searching. For tasks involving labeled data, like storing attributes or configurations, dictionaries provide better clarity, efficiency, and flexibility.

####Question12 Describe a scenario where using a tuple would be preferable over a listP

 Tuples are preferable over lists when the data should not change, like coordinates, RGB values, or function return values. They provide data integrity, are hashable (usable as dictionary keys), and consume less memory than lists.

####Question 13. How do sets handle duplicate values in Python

Sets in Python automatically remove duplicate values, ensuring each element is unique. When a set is created, any repeated items are discarded. This feature is useful for filtering duplicates or comparing distinct items efficiently.

#### Question14.How does the “in” keyword work differently for lists and dictionaries

In lists, the in keyword checks if a value exists within elements. In dictionaries, it checks for the presence of a key, not a value. For example, 5 in list looks for the item, 5 in dict checks for a key named 5.

####qUESTION 15 Can you modify the elements of a tuple? Explain why or why notP

No, you cannot modify elements of a tuple because tuples are immutable. Once defined, their content remains fixed. If a tuple contains mutable elements like a list, those internal elements can be modified, but the tuple structure itself cannot be changed.

####What is a nested dictionary, and give an example of its use case3

A nested dictionary is a dictionary within another dictionary. It’s used to represent complex, hierarchical data. Example:

python
Copy
Edit
student = {'name': 'Arya', 'grades': {'math': 92, 'science': 88}}```  
Useful in storing structured data like user profiles, APIs, or configuration files.

####Describe the time complexity of accessing elements in a dictionaryP

Describe the time complexity of accessing elements in a dictionary:**  
Accessing elements in a dictionary has an average time complexity of **O(1)** because it uses a hash table. This ensures fast lookups, insertions, and deletions, making dictionaries more efficient than lists for accessing data by key.

####In what situations are lists preferred over dictionaries

lists are preferred when data is ordered, indexed, or when duplicates are allowed. They’re ideal for storing sequences like tasks, numbers, or names where position matters and there's no need for key-value pairs or fast key-based lookups.

####qUESTION19 P Why are dictionaries considered unordered, and how does that affect data retrieval3

Dictionaries were considered unordered in Python versions before 3.7, meaning insertion order wasn’t guaranteed. In modern Python, order is preserved, but logic is still key-based. Data retrieval depends on keys, not positions, so order doesn’t affect accessing specific values.

Question20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists use numerical indices to retrieve values (`list[0]`), while dictionaries use unique keys (`dict['name']`). Lists are best for ordered sequences; dictionaries are better for labeled data. Dictionary lookups are faster and more meaningful when keys represent data contextually.

#Practical Questions

In [5]:
#P Write a code to create a string with your name and print it
name ="Yogesh"
print(name)

Yogesh

In [6]:
#Write a code to find the length of the string "Hello World"P
str1="Hello World"
len(str1)

11

In [7]:
#P Write a code to slice the first 3 characters from the string "Python Programming"P
str1 = "Python Programming"
str1[0:3]

'Pyt'

In [8]:
#Write a code to convert the string "hello" to uppercase?
str1 ="hello"
str1.upper()

'HELLO'

In [9]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple
str1 = "I like apple"
str1.replace("apple","orange")

'I like orange'

In [10]:
#Write a code to create a list with numbers 1 to 5 and print it
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [11]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
lis1=[1,2,3,4]
lis1.append(10)
print(lis1)

[1, 2, 3, 4, 10]

In [14]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]P
lis =[1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [15]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']P
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

In [16]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lis=[10,20,30,40,50]
lis[::-1]

[50, 40, 30, 20, 10]

In [17]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
tup =(100,200,300)
print(tup)

(100, 200, 300)

In [18]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ('red', 'green', 'blue', 'yellow')
tup[-2]

'blue'

In [20]:
#. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
min(tup)

5

In [21]:
#. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup=('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [22]:

# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tup =("apple","banana","kiwi")
for i in tup:
  if i=="kiwi":
    print("yes kiwi is there")

yes kiwi is there

In [25]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a', 'b', 'c'}
print(set1)

{'b', 'a', 'c'}

In [26]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1={1, 2, 3, 4}
set1.remove(4)
set1

{1, 2, 3}

In [27]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1, 2, 3}
set2={3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [28]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1, 2, 3}
set2={2, 3, 4}
set1.intersection(set2)

{2, 3}

In [29]:
#. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dic ={
    "name":"Yogesh",
    "age":22,
    "city":"Mumbai"
}
print(dic)

{'name': 'Yogesh', 'age': 22, 'city': 'Mumbai'}

In [32]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic ={
    "name":'John',
    "age":25,

}
dic["country"] = "USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
 #Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
 dic ={'name': 'Alice', 'age': 30}
 dic["name"]

'Alice'

In [34]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic ={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
dic

{'name': 'Bob', 'city': 'New York'}

In [35]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic ={'name': 'Alice', 'city': 'Paris'}
if "city" in dic:
  print("city is there")

city is there

In [36]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
lis =[1,2,3,4]
tup =(1,2,3,4)
dic ={
    "name":"Yogesh",
    "age":22,
    "city":"Mumbai"
}
print(lis)
print(tup)
print(dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Yogesh', 'age': 22, 'city': 'Mumbai'}

In [37]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
lis = [3,13,56,32,44]
sorted(lis)
print(lis)

[3, 13, 56, 32, 44]

In [38]:
#. Write a code to create a list with strings and print the element at the third index
lis =["apple","banana","kiwi"]
lis[2]

'kiwi'

In [47]:
#Write a code to combine two dictionaries into one and print the result
dic1 ={
    "name":"Yogesh",
    "age":22,
    "city":"Mumbai"
}
dic2 ={
    "name":"lokesh",
    "age":22,
    "city":"jaipur"
}
dic1.update(dic2)
dic1

{'name': 'lokesh', 'age': 22, 'city': 'jaipur'}

In [ ]:
dic1 = {
    "name": "Yogesh",
    "age": 22,
    "city": "Mumbai"
}

dic2 = {
    "email": "yogesh@example.com",
    "phone": "1234567890"
}

# Combine the dictionaries
combined_dict = {**dic1, **dic2}

In [48]:
#Write a code to convert a list of strings into a set.
lis =["apple","banana","kiwi"]
set(lis)

{'apple', 'banana', 'kiwi'}